.dashboard-container {
    padding: 20px;
    color: #fff;
    min-height: 100vh;
}

.dashboard-title{
    color: #942376;
    background: rgba(128, 128, 128, 0.7);
    border: 2px solid black;
    border-radius: 9px;
}

.card-feed {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.proxyCardText {
    color: #fff;
    font-size: 14px;
    background: rgba(128, 128, 128, 0.7);
    border: 2px solid black;
    z-index: 1;
    padding: 5px;
}

.card {
    background-color: #fff;
    color: #000;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: calc(33% - 40px);
    box-sizing: border-box;
}

.card h2 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
}

.card-effects p {
    margin: 0 0 10px 0;
    font-size: 1rem;
}

.card-creator {
    margin-top: 10px;
    font-style: italic;
}

@media (max-width: 920px) {
    .card {
        width: calc(50% - 40px);
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%; 
    }
}
